/*
COMMON CSS
*/
.card-header{
  background-color: #eeeeee;
  background: -webkit-linear-gradient(90deg, #384b91, #552072);
  background: linear-gradient(90deg, #384b91, #552072);
}

/*
FOR PHONES AND TABLETS
*/
@media only screen and (max-width: 1188px){
  .linechart-container{
    margin-top: 5%;
    width: 100%;
  }

  .barchart-container{
    margin-top: 5%;
    width: 100%;
  }
}


/*
FOR DESKTOP
*/
@media only screen and (min-width: 1189px){
  
  .linechart-container {
    width: 85%;
  }

  .barchart-container  {
    width: 85%;
    margin-top: 5%;
  }
}






