<div class="wrapper">
  <div class="container">
    <div id="wrapper">
        <!-- Sidebar -->
        <div id="sidebar-wrapper">
        <ul class="sidebar-nav">
          <li>
          <div class="container" style="margin-left:0px">
            <div class="cox-xs-12" style="padding:10px">
                <form>
                    <li>Adspace Type</li>
                    <li><div class="form-group">
                      <select class="custom-select"  name="adtype"  (change)="updateAdtype($event.target.value)">
                      <option selected value="Banner Top">Banner Top</option>
                      <option value="Banner Left">Banner Left</option>
                      <option value="Banner Right">Banner Right</option>
                      <option value="Popup">Popup</option>
                      </select>
                  </div></li>
                <li>Ad Genre</li>
                <li><div class="form-group">
                      <select class="custom-select" name="genre" (change)="updateGenre($event.target.value)" >
                      <option selected value="Movies">Movies</option>
                      <option value="Gaming">Gaming</option>
                      <option value="Forums">Forums</option>
                      <option value="Other">Other</option>
                      </select>
                  </div></li>
                    <li>
                    <p-slider [(ngModel)]="rangeValues" [range]="true"name="slider"></p-slider>
                    </li>
                    <li>
                     {{ currencyType }}: {{rangeValues[0] + ' - ' + rangeValues[1]}}
                    </li>
                    <li><button type="submit" class="btn btn-primary">Filter</button></li>
                </form>
             </div>
             </div>
           </li>
           </ul>
        </div>
        <!-- sidebar-wrapper -->

        <!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="container-fluid">
              <h3>Ad Listings</h3>
              <div class="row">
                  <div class="card-format">
                    <div class="card-block">
                      <h4 class="card-title"><span class="label label-default">{{ genre }}</span> <span class="label label-success">{{ Adtype }}</span> </h4>
                      <p class="card-text">Sierra VR is looking to promote its new VR platform!</p>
                      <a href="#" class="btn btn-primary">Contact Advertiser &gt; </a>
                    </div>

                </div>
                </div>
                <div class="row">
                    <div class="card-format">
                      <div class="card-block">
                        <h4 class="card-title"><span class="label label-default">{{ genre }}</span> <span class="label label-success">{{ Adtype }}</span> </h4>
                          <p class="card-text">Valvia is on an ad blitz for Legend of Honors 3!</p>
                        <a href="#" class="btn btn-primary">Contact Advertiser &gt; </a>
                      </div>
                  </div>
                  </div>
                  <div class="row">
                      <div class="card-format">
                        <div class="card-block">
                          <h4 class="card-title"><span class="label label-default">{{ genre }}</span> <span class="label label-success">{{ Adtype }}</span></h4>
                            <p class="card-text">New Adblitz from Sunshine Industries!</p>
                          <a href="#" class="btn btn-primary">Contact Advertiser &gt; </a>
                        </div>

                    </div>
                    </div>
                    <div class="row">
                        <div class="card-format">
                          <div class="card-block">
                            <h4 class="card-title"><span class="label label-default">{{ genre }}</span> <span class="label label-success">{{ Adtype }}</span></h4>
                            <a href="#" class="btn btn-primary">Contact Advertiser &gt; </a>
                          </div>

                      </div>
                      </div>
            </div>
        </div>
        <!-- /#page-content-wrapper -->
    </div>
  </div>
</div>
