.navbar-container {
    position: fixed;
    top: 80px;
    width: 100vw;
    z-index: 3;
}

.navbar-container > .navbar > .container {
    width: 83% !important;
}

i {
    margin-right: 10px;
    margin-left: 10px;
}

:local(li) > a:hover, a:focus{
    color: #4b80c0 !important;
}

/*
FOR PHONES AND TABLETS
*/
@media only screen and (max-width:768px){
    
    .nav-label {
        display: none;
    }

    .in-app-nav-item {
        width: 25%;
        float: left;
        padding-left: 4%;
    }

}