.profile-header-timeline {
    /*position: absolute;*/
    background: #D6DBDF;
    height: 300px;
    width: 100vw;
    /*top: 0;*/
}

.profile-container {
    animation-name: fade-in;
    animation-duration: 0.8s;
    animation-fill-mode: forwards;
}
