.dashboard-container {
    margin-top: 132px;
}

.dashboard-left {
    margin-left: 2%;
}

/*
FOR DESKTOP
*/
@media only screen and (min-width: 769px) {
    .dashboard-left {
        margin-top: 25px;
        padding-top: 0px;
        margin-left: 8%;
        position: relative;
    }

    .dashboard-right {
        margin-top: 5px;
        padding-left: 460px;
        position: absolute;
    }
    
}

/*
FOR MEDIUM SIZE SCREENS
*/
@media only screen and (max-width: 1280px){
    .dashboard-left {
        margin-left: 20px;
        margin-top: 25px;
    }

    .dashboard-right{
        margin-top: 5px;
        min-width: 1200px;
        padding-left: 335px;
    }
}

/*
FOR SMALL SIZE SCREENS
*/
@media only screen and (max-width: 768px){
    .dashboard-left {
        margin-left: 0px;
        margin-top: 2%;
        padding-right: 0px;
        width: 100vw;
    }

    .dashboard-right{
        margin-top: 2%;
        padding-left: 0px;
        width: 100vw;
    }
}