body {
  background-color: #f5f5f5;
}

a {
  -webkit-transition: all 0.25s;
  -moz-transition: all 0.25s;
  transition: all 0.25s;
  color: #4b80c0;
}
a:hover,
a:focus {
  color: #3b70af;
}

.nav-link {
  cursor: pointer;
  font-size: 13.5px;
  letter-spacing: 0.8px;
  text-transform: uppercase;
}
.nav-link:hover,
.nav-link:focus:hover {
  color: #4b80c0 !important;
}

.nav-link > span {
  margin: 0 4px;
}

.menubar-link:hover,
.menubar-link:focus:hover {
  color: white !important;
}


.navbar.navbar-toggleable-sm.navbar-inverse.fixed-top {
  background-color: #304F76;
  padding-left: 55px;
}

.navbar.navbar-toggleable-sm.navbar-inverse.fixed-top.fixed-top-2 {
  background-color: #fff;
  min-height: 60px;
 }

#nav1 li a {
  line-height: 58px;
}
#nav2 li a {
  line-height: 30px;
}

#mobileMenu1 {
  margin-top: 10px;
}

#navbar1 li a {
  padding: 0 24px;
  color: black;
}



.container {
  margin-left: 40px;
}

.fixed-top-2 {
  margin-top: 82px;
}
