.keyword-search-box {
    display: flex;
    padding: 0 25px;
}

.keyword-search-box > input {
    width: 100%;
    color: #333;
    background-color: #fefefe;
    border-color: #ccc;
    padding: 8px;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    outline: none;
    border: 1px solid #ccc;
    border-right: none;
}

/*.keyword-search-box > input:focus {
    box-shadow: 0 2px 4px #ECECF2 !important;
}*/

.keyword-search-box > .search-btn {
    outline: none;
    border: 1px solid #ccc;
    border-left: 0;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    padding-top: 6px;
    background-color: #fefefe;
}
