<!-- <img class="profile-pic" src="../../../../assets/images/placeholder.png">  -->
<h4 class="welcome-msg">Welcome dude! ---> gotta fill these empty spaces afterward--------></h4><br>

<mat-divider></mat-divider>
  
<div class="dashboard-left">
    <app-adv-dashboard-wallet></app-adv-dashboard-wallet>

    <div class="stats">
        <mat-card id="stats-card">
            <mat-card-title>
                <p class="card-title">Last 24 Hours</p>
            </mat-card-title>
            <mat-card-content>
                <app-adv-dashboard-stats></app-adv-dashboard-stats>
            </mat-card-content>
        </mat-card>
    </div>
</div>
    
<div class="dashboard-right">
    <div class="charts">
            <app-adv-dashboard-charts></app-adv-dashboard-charts>
    </div>
</div>

<mat-divider></mat-divider>

<div class="tables">
    <app-adv-dashboard-tables></app-adv-dashboard-tables>
</div>






