<!-- <img class="profile-pic" src="../../../../assets/images/placeholder.png">  -->
<h4 class="welcome-msg">Welcome dude! ---> gotta fill these empty spaces afterward--------></h4><br>

<mat-divider></mat-divider>
  
<div class="dashboard-left">
    <app-adv-dashboard-wallet></app-adv-dashboard-wallet>
    <app-adv-dashboard-stats></app-adv-dashboard-stats>
</div>
    
<div class="dashboard-right">
    <div class="charts">
            <app-adv-dashboard-charts></app-adv-dashboard-charts>
    </div>
</div>

<mat-divider></mat-divider>

<div class="tables">
    <app-adv-dashboard-tables></app-adv-dashboard-tables>
</div>






