.marketplace-container {
    /*margin-top: 64px;*/
    /* Match header component*/
    position: relative;
    animation-name: fade-in;
    animation-duration: 0.8s;
    animation-fill-mode: forwards;
    z-index: 2;
    background-color: #f2f5f7;

    min-height: calc(100vh - 73px - 65px);
    margin-top: -20px;
}

.loading-container {
    width: 100vw;
    height: calc(100vh - 73px);
    text-align: center;
}
