@charset "UTF-8";

@import url("https://fonts.googleapis.com/css?family=Roboto:400,500,700,300");

@import url("https://fonts.googleapis.com/css?family=Roboto:400,500,700,300");

.text-custom {
  color: #4b80c0;
}

.text-success {
  color: #1bb99a !important;
}

.text-info {
  color: #3db9dc !important;
}

.text-warning {
  color: #f1b53d !important;
}

.text-danger {
  color: #ff5d48 !important;
}

.text-muted {
  color: #818a91;
}

.dropdown-lg {
  width: 280px;
}

.dropdown-menu {
  box-shadow: 0 0px 24px 0 rgba(43, 61, 81, 0.06), 0 1px 0px 0 rgba(43, 61, 81, 0.02);
  border: 1px solid rgba(43, 61, 81, 0.05);
}

html {
  position: relative;
  min-height: 100%;
}

body {
  font-family: 'Lato', 'Nunito Sans';
  font-size: 0.9rem;
  background-color: #f5f5f5;
  padding-bottom: 60px;
}

.header-title {
  font-size: 1rem;
  text-transform: uppercase;
}

.page-header {
  margin-top: 30px;
  margin-bottom: 20px;
  font-size: 1.15rem;
  padding-bottom: 10px;
  border-bottom: 1px solid #eceeef;
}

.button-list {
  margin-bottom: -5px;
  margin-left: -7px;
}

.button-list button,.button-list a {
  margin: 5px 7px;
}

a {
  outline: none !important;
  text-decoration: none !important;
}

.bg-success {
  background-color: #1bb99a !important;
}

.bg-info {
  background-color: #3db9dc !important;
}

.bg-warning {
  background-color: #f1b53d !important;
}

.bg-danger {
  background-color: #ff5d48 !important;
}

/*!
 * Waves v0.6.0
 * http://fian.my.id/Waves
 *
 * Copyright 2014 Alfiana E. Sibuea and other contributors
 * Released under the MIT license
 * https://github.com/fians/Waves/blob/master/LICENSE
 */

/* IE9, IE10, IE11 */

.container {
  width: 90%;
}

.logo {
  float: left;
  color: #ffffff !important;
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  line-height: 80px;
}

.logo span span {
  color: #1bb99a !important;
}

#topnav {
  position: fixed;
  right: 0;
  left: 0;
  top: 0;
  z-index: 1030;
  background-color: #ffffff;
  border: 0;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
  min-height: 60px;
  box-shadow: 0 0px 24px 0 rgba(0, 0, 0, 0.06), 0 1px 0px 0 rgba(0, 0, 0, 0.02);
}

#topnav .topbar-main {
  /*background-color: #2b3d51;*/
  /*background-color: #33475D;*/
  /*background-color: #365A86;*/
  background-color: #304F76;
  /*background-color: #304F76;*/
  border-color: rgba(34, 34, 34, 0.1);
  border: 10px;
}

#topnav .topbar-main .badge {
  position: absolute;
  top: 12px;
  right: 7px;
}

#topnav .topbar-main .navbar-nav {
  margin: 0;
}

#topnav .topbar-main .navbar-nav .nav-link {
  padding: 0;
  line-height: 80px;
}

#topnav .navbar-custom {
  background-color: #ffffff;
}

#topnav .navbar-topbar .nav-link {
  padding: 0px;
  line-height: 80px;
  color: rgba(255, 255, 255, 0.6);
}

#topnav .navbar-topbar .dropdown-toggle:after {
  content: initial;
}

#topnav .navbar-toggle {
  border: 0;
  position: relative;
  width: 60px;
  padding: 0;
  margin: 0;
  cursor: pointer;
}

#topnav .navbar-toggle:hover {
  background-color: transparent;
}

#topnav .navbar-toggle:hover span {
  background-color: #4b80c0;
}

#topnav .navbar-toggle:focus {
  background-color: transparent;
}

#topnav .navbar-toggle:focus span {
  background-color: #4b80c0;
}

#topnav .navbar-toggle .lines {
  width: 25px;
  display: block;
  position: relative;
  padding-top: 6px;
  height: 18px;
}

#topnav .navbar-toggle span {
  height: 2px;
  width: 100%;
  background-color: #ffffff;
  display: block;
  margin-bottom: 5px;
  -webkit-transition: -webkit-transform .5s ease;
  transition: -webkit-transform .5s ease;
  transition: transform .5s ease;
}

#topnav .navigation-menu > li.active > a {
  color: #4b80c0;
}

#topnav .navigation-menu > li.active li.active > a {
  color: #4b80c0;
}

#topnav .navigation-menu > li.active li.active li.active > a {
  color: #4b80c0;
}

#topnav .navigation-menu {
  list-style: none;
  margin: 0;
  padding: 0;
}

#topnav .navigation-menu > li {
  float: left;
  display: block;
  position: relative;
}

#topnav .navigation-menu > li > a {
  display: block;
  color: #2b3d51;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
  line-height: 20px;
  padding-left: 25px;
  padding-right: 25px;
  font-weight: 500;
  font-size: 0.95rem;
}

#topnav .navigation-menu > li > a:hover {
  color: #4b80c0;
}

#topnav .navigation-menu > li > a:hover i {
  color: #4b80c0;
}

#topnav .navigation-menu > li > a:focus {
  color: #4b80c0;
}

#topnav .navigation-menu > li > a:focus i {
  color: #4b80c0;
}

#topnav .navigation-menu > li > a:active {
  color: #4b80c0;
}

#topnav .navigation-menu > li > a:active i {
  color: #4b80c0;
}

#topnav .navigation-menu > li > a i {
  font-size: 18px;
  margin-right: 5px;
  color: fade(#2b3d51, 80%);
  vertical-align: middle;
}

#topnav .navigation-menu > li > a:hover,#topnav .navigation-menu > li > a:focus {
  background-color: transparent;
}

@media (min-width: 992px) {
  #topnav .navigation-menu > li > a {
    padding-top: 22px;
    padding-bottom: 22px;
  }
}

/*
  Responsive Menu
*/

@media (min-width: 992px) {
  #topnav .navigation-menu > li:first-of-type a {
    padding-left: 0px;
  }

  #topnav .navigation-menu > li:hover a {
    color: #4b80c0;
  }

  #topnav .navigation-menu > li:hover a i {
    color: #4b80c0;
  }

  #topnav .navigation-menu > li .submenu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    border: 1px solid #e7e7e7;
    padding: 15px 0;
    list-style: none;
    min-width: 200px;
    visibility: hidden;
    opacity: 0;
    margin-top: 10px;
    -webkit-transition: all .2s ease;
    transition: all .2s ease;
    background-color: #ffffff;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1);
  }

  #topnav .navigation-menu > li .submenu > li.has-submenu > a:after {
    content: "\e649";
    font-family: "themify";
    position: absolute;
    right: 20px;
    font-size: 9px;
  }

  #topnav .navigation-menu > li .submenu > li .submenu {
    left: 100%;
    top: 0;
    margin-left: 10px;
    margin-top: -1px;
  }

  #topnav .navigation-menu > li .submenu li {
    position: relative;
  }

  #topnav .navigation-menu > li .submenu li ul {
    list-style: none;
    padding-left: 0;
    margin: 0;
  }

  #topnav .navigation-menu > li .submenu li a {
    display: block;
    padding: 8px 25px;
    clear: both;
    white-space: nowrap;
    color: #2b3d51;
  }

  #topnav .navigation-menu > li .submenu li a:hover {
    color: #4b80c0;
  }

  #topnav .navigation-menu > li .submenu li span {
    display: block;
    padding: 8px 25px;
    clear: both;
    line-height: 1.42857143;
    white-space: nowrap;
    font-size: 10px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 500;
    color: #949ba1;
  }

  #topnav .navbar-toggle {
    display: none;
  }

  #topnav #navigation {
    display: block !important;
  }
}

@media (max-width: 991px) {
  .container {
    width: auto;
  }

  #topnav .navigation-menu {
    float: none;
    max-height: 400px;
  }

  #topnav .navigation-menu > li {
    float: none;
  }

  #topnav .navigation-menu > li > a {
    color: #2b3d51;
    padding: 15px;
  }

  #topnav .navigation-menu > li > a i {
    display: inline-block;
    margin-right: 10px;
    margin-bottom: 0px;
  }

  #topnav .navigation-menu > li > a:after {
    position: absolute;
    right: 15px;
  }

  #topnav .navigation-menu > li .submenu {
    display: none;
    list-style: none;
    padding-left: 20px;
    margin: 0;
  }

  #topnav .navigation-menu > li .submenu li a {
    display: block;
    position: relative;
    padding: 7px 20px;
    color: #2b3d51;
  }

  #topnav .navigation-menu > li .submenu li a:hover {
    color: #4b80c0;
  }

  #topnav .navigation-menu > li .submenu li.has-submenu > a:after {
    content: "\e64b";
    font-family: "themify";
    position: absolute;
    right: 30px;
  }

  #topnav .navigation-menu > li .submenu .submenu {
    display: none;
    list-style: none;
  }

  #topnav .navbar-header {
    float: left;
  }

  #navigation {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: none;
    height: auto;
    padding-bottom: 0;
    overflow: auto;
    border-top: 1px solid #e7e7e7;
    border-bottom: 1px solid #e7e7e7;
    background-color: #ffffff;
  }
}

@media (min-width: 768px) {
  #topnav .navigation-menu > li.has-submenu:hover > .submenu {
    visibility: visible;
    opacity: 1;
    margin-top: 0;
  }

  #topnav .navigation-menu > li.has-submenu:hover > .submenu > li.has-submenu:hover > .submenu {
    visibility: visible;
    opacity: 1;
    margin-left: 0;
    margin-right: 0;
  }

  .navbar-toggle {
    display: block;
  }
}

@-moz-keyframes pulse {
  0% {
    -moz-transform: scale(0);
    opacity: 0.0;
  }

  25% {
    -moz-transform: scale(0);
    opacity: 0.1;
  }

  50% {
    -moz-transform: scale(0.1);
    opacity: 0.3;
  }

  75% {
    -moz-transform: scale(0.5);
    opacity: 0.5;
  }

  100% {
    -moz-transform: scale(1);
    opacity: 0.0;
  }
}

@-webkit-keyframes pulse {
  0% {
    -webkit-transform: scale(0);
    opacity: 0.0;
  }

  25% {
    -webkit-transform: scale(0);
    opacity: 0.1;
  }

  50% {
    -webkit-transform: scale(0.1);
    opacity: 0.3;
  }

  75% {
    -webkit-transform: scale(0.5);
    opacity: 0.5;
  }

  100% {
    -webkit-transform: scale(1);
    opacity: 0.0;
  }
}

/* Footer */

/* Notification */

.notification-list {
  margin-left: 0 !important;
}

.notification-list .noti-title {
  border-radius: 0.25rem 0.25rem 0 0;
  background-color: #4b80c0;
  margin: -6px -1px 0px -1px;
  width: auto;
  padding: 12px 20px;
}

.notification-list .noti-title h5 {
  color: #ffffff;
  margin: 0;
}

.notification-list .noti-icon {
  font-size: 22px;
  padding: 0 12px;
  vertical-align: middle;
  color: rgba(255, 255, 255, 0.8);
}

.notification-list .noti-icon-badge {
  position: relative;
  display: inline-block;
}

.notification-list .noti-icon-badge:after {
  position: absolute;
  content: '3';
  /*content: attr(noti-icon-badge);*/
  height: 18px;
  width: 18px;
  top: -1.5rem;
  right: 4px;
  font-size: 10px;
  line-height: 0.75rem;
  text-align: center;
  background-color: #ff5d48;
  color: #eeeeee;
  border-radius: 33%;
  border: 2px solid #2b3d51;
}

.notification-list .notify-item {
  padding: 10px 20px;
}

.notification-list .notify-item .notify-icon {
  float: left;
  height: 36px;
  width: 36px;
  line-height: 36px;
  text-align: center;
  margin-right: 10px;
  border-radius: 50%;
  color: #ffffff;
}

.notification-list .notify-item .notify-icon img {
  margin-top: 4px;
}

.notification-list .notify-item .notify-details {
  margin-bottom: 0;
  overflow: hidden;
  margin-left: 45px;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.notification-list .notify-item .notify-details b {
  font-weight: 500;
}

.notification-list .notify-item .notify-details small {
  display: block;
}

.notification-list .notify-item .notify-details span {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 13px;
}

.notification-list .notify-all {
  border-radius: 0 0 0.25rem 0.25rem;
  margin: 0 0 -5px 0;
  background-color: #eceeef;
}

.profile-dropdown {
  width: 170px;
}

.profile-dropdown i {
  font-size: 17px;
  vertical-align: middle;
  margin-right: 5px;
}

.profile-dropdown span {
  vertical-align: middle;
}

.nav-user {
  padding: 0 12px !important;
}

.nav-user img {
  height: 36px;
  width: 36px;
}

/* Right sidebar
.side-bar.right-bar {
  float: right !important;
  right: -266px;
  top: 60px; }

.side-bar {
  -moz-transition: all 200ms ease-out;
  -webkit-transition: all 200ms ease-out;
  background-color: #ffffff;
  box-shadow: 0 0px 24px 0 rgba(0, 0, 0, 0.06), 0 1px 0px 0 rgba(0, 0, 0, 0.02);
  display: block;
  float: left;
  height: 100%;
  position: fixed;
  transition: all 200ms ease-out;
  width: 240px;
  z-index: 9999; }

.right-bar {
  background: #ffffff !important; }
  .right-bar .nav-tabs {
    border: none !important; }
    .right-bar .nav-tabs .nav-item {
      float: none;
      display: inline-block;
      margin-bottom: 0; }
    .right-bar .nav-tabs .nav-link {
      border: none !important;
      font-weight: 500;
      font-size: 16px;
      color: #2b3d51; }
    .right-bar .nav-tabs .nav-link.active {
      color: #4b80c0;
      background-color: transparent; }
  .right-bar .tab-content {
    padding: 20px;
    border-top: 2px solid #eceeef; }
  .right-bar .right-bar-toggle {
    float: right;
    line-height: 46px;
    font-size: 20px;
    color: #333;
    padding: 0px 10px; }
  .right-bar .nicescroll {
    height: 88%; }
  .right-bar .contact-list {
    max-height: 600px; }
  .right-bar h5 {
    font-size: 15px; }

@media (max-width: 640px) {
  .btn-group.m-t-15 {
    display: none; } }
@media (max-width: 420px) {
  .topbar-left {
    width: 38px;
    text-align: center;
    float: left; }

  .logo {
    float: none; }
    .logo span {
      display: none !important; } }
/* Seach */

.page-title {
  font-size: 20px;
  margin-bottom: 0;
  margin-top: 0;
  line-height: 70px;
}

button:focus {
  outline: none !important;
}

a.btn:focus {
  color: #ffffff !important;
}

.btn-label {
  background: rgba(43, 61, 81, 0.1);
  display: inline-block;
  padding: 7px 15px;
  border-radius: 3px 0 0 3px;
  margin: -7px -14px;
  margin-right: 12px;
}

.btn-label-right {
  margin-left: 12px;
  margin-right: -13px;
  border-radius: 0px 3px 3px 0px;
}

.btn-custom {
  background-color: #4b80c0;
  border-color: #4b80c0;
  color: #ffffff;
}

.btn-custom:hover,.btn-custom:focus,.btn-custom:active,.btn-custom.active,.btn-custom:active,.btn-custom:focus,.btn-custom:hover {
  background-color: #439fef;
  border-color: #439fef;
  color: #ffffff;
}

.btn-secondary {
  background-color: #ffffff;
}

.btn-success {
  background-color: #1bb99a;
  border-color: #1bb99a;
}

.btn-success:hover,.btn-success:focus,.btn-success:active,.btn-success.active,.btn-success:active,.btn-success:focus,.btn-success:hover {
  background-color: #16957c;
  border-color: #16957c;
  color: #ffffff;
}

.btn-info {
  background-color: #3db9dc;
  border-color: #3db9dc;
}

.btn-info:hover,.btn-info:focus,.btn-info:active,.btn-info.active,.btn-info:active,.btn-info:focus,.btn-info:hover {
  background-color: #25a7cb;
  border-color: #25a7cb;
  color: #ffffff;
}

.btn-warning {
  background-color: #f1b53d;
  border-color: #f1b53d;
}

.btn-warning:hover,.btn-warning:focus,.btn-warning:active,.btn-warning.active,.btn-warning:active,.btn-warning:focus,.btn-warning:hover {
  background-color: #eea617;
  border-color: #eea617;
  color: #ffffff;
}

.btn-danger {
  background-color: #ff5d48;
  border-color: #ff5d48;
}

.btn-danger:hover,.btn-danger:focus,.btn-danger:active,.btn-danger.active,.btn-danger:active,.btn-danger:focus,.btn-danger:hover {
  background-color: #ff391f;
  border-color: #ff391f;
  color: #ffffff;
}

/* Social Buttons */

/* Custom-modal */

/* =========== */

/* Sweet Alert */

/* =========== */

/*!
 *  Font Awesome 4.6.2 by @davegandy - http://fontawesome.io - @fontawesome
 *  License - http://fontawesome.io/license (Font: SIL OFL 1.1, CSS: MIT License)
 */

/* FONT PATH
 * -------------------------- */

@font-face {
  font-family: 'FontAwesome';
  src: url("../fonts/fontawesome-webfont.eot?v=4.6.2");
  src: url("../fonts/fontawesome-webfont.eot?#iefix&v=4.6.2") format("embedded-opentype"), url("../fonts/fontawesome-webfont.woff2?v=4.6.2") format("woff2"), url("../fonts/fontawesome-webfont.woff?v=4.6.2") format("woff"), url("../fonts/fontawesome-webfont.ttf?v=4.6.2") format("truetype"), url("../fonts/fontawesome-webfont.svg?v=4.6.2#fontawesomeregular") format("svg");
  font-weight: normal;
  font-style: normal;
}

.fa {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* makes the font 33% larger relative to the icon container */

.fa-lg {
  font-size: 1.33333em;
  line-height: 0.75em;
  vertical-align: -15%;
}

.fa-2x {
  font-size: 2em;
}

.fa-3x {
  font-size: 3em;
}

.fa-4x {
  font-size: 4em;
}

.fa-5x {
  font-size: 5em;
}

.fa-ul {
  padding-left: 0;
  margin-left: 2.14286em;
  list-style-type: none;
}

.fa-ul > li {
  position: relative;
}

.fa-li {
  position: absolute;
  left: -2.14286em;
  width: 2.14286em;
  top: 0.14286em;
  text-align: center;
}

.fa-li.fa-lg {
  left: -1.85714em;
}

/* Deprecated as of 4.4.0 */

@-webkit-keyframes fa-spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}

@keyframes fa-spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}

/* Font Awesome uses the Unicode Private Use Area (PUA) to ensure screen
   readers do not read off random characters that represent icons */

.fa-user:before {
  content: "";
}

.fa-home:before {
  content: "";
}

.fa-list-alt:before {
  content: "";
}

.fa-book:before {
  content: "";
}

.fa-font:before {
  content: "";
}

.fa-text-height:before {
  content: "";
}

.fa-text-width:before {
  content: "";
}

.fa-align-left:before {
  content: "";
}

.fa-align-center:before {
  content: "";
}

.fa-align-right:before {
  content: "";
}

.fa-list:before {
  content: "";
}

.fa-image:before {
  content: "";
}

.fa-info-circle:before {
  content: "";
}

.fa-arrow-left:before {
  content: "";
}

.fa-arrow-right:before {
  content: "";
}

.fa-arrow-up:before {
  content: "";
}

.fa-arrow-down:before {
  content: "";
}

.fa-warning:before {
  content: "";
}

.fa-bar-chart:before {
  content: "";
}

.fa-arrow-circle-left:before {
  content: "";
}

.fa-arrow-circle-right:before {
  content: "";
}

.fa-arrow-circle-up:before {
  content: "";
}

.fa-arrow-circle-down:before {
  content: "";
}

.fa-globe:before {
  content: "";
}

.fa-tasks:before {
  content: "";
}

.fa-group:before,.fa-users:before {
  content: "";
}

.fa-link:before {
  content: "";
}

.fa-list-ul:before {
  content: "";
}

.fa-caret-down:before {
  content: "";
}

.fa-caret-up:before {
  content: "";
}

.fa-caret-left:before {
  content: "";
}

.fa-caret-right:before {
  content: "";
}

.fa-dashboard:before {
  content: "";
}

.fa-mobile:before {
  content: "";
}

.fa-circle:before {
  content: "";
}

.fa-info:before {
  content: "";
}

.fa-maxcdn:before {
  content: "";
}

.fa-html5:before {
  content: "";
}

.fa-css3:before {
  content: "";
}

.fa-toggle-down:before {
  content: "";
}

.fa-toggle-up:before {
  content: "";
}

.fa-toggle-right:before {
  content: "";
}

.fa-file:before {
  content: "";
}

.fa-file-text:before {
  content: "";
}

.fa-apple:before {
  content: "";
}

.fa-toggle-left:before {
  content: "";
}

.fa-support:before {
  content: "";
}

.fa-header:before {
  content: "";
}

.fa-line-chart:before {
  content: "";
}

.fa-toggle-on:before {
  content: "";
}

.fa-registered:before {
  content: "";
}

.fa-500px:before {
  content: "";
}

.fa-edge:before {
  content: "";
}

/*!
 *  Material Design Iconic Font by Sergey Kupletsky (@zavoloklom) - http://zavoloklom.github.io/material-design-iconic-font/
 *  License - http://zavoloklom.github.io/material-design-iconic-font/license (Font: SIL OFL 1.1, CSS: MIT License)
 */

@font-face {
  font-family: 'Material-Design-Iconic-Font';
  src: url("../fonts/Material-Design-Iconic-Font.woff2?v=2.2.0") format("woff2"), url("../fonts/Material-Design-Iconic-Font.woff?v=2.2.0") format("woff"), url("../fonts/Material-Design-Iconic-Font.ttf?v=2.2.0") format("truetype");
  font-weight: normal;
  font-style: normal;
}

.zmdi {
  display: inline-block;
  font: normal normal normal 14px/1 'Material-Design-Iconic-Font';
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@-webkit-keyframes zmdi-spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}

@keyframes zmdi-spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}

@-webkit-keyframes zmdi-spin-reverse {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(-359deg);
    transform: rotate(-359deg);
  }
}

@keyframes zmdi-spin-reverse {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(-359deg);
    transform: rotate(-359deg);
  }
}

/* Material Design Iconic Font uses the Unicode Private Use Area (PUA) to ensure screen
   readers do not read off random characters that represent icons */

.zmdi-book-image:before {
  content: '\f11b';
}

.zmdi-book:before {
  content: '\f11c';
}

.zmdi-chart:before {
  content: '\f131';
}

.zmdi-collection-image:before {
  content: '\f140';
}

.zmdi-collection-item-1:before {
  content: '\f141';
}

.zmdi-collection-item-2:before {
  content: '\f142';
}

.zmdi-collection-item-3:before {
  content: '\f143';
}

.zmdi-collection-item-4:before {
  content: '\f144';
}

.zmdi-collection-item-5:before {
  content: '\f145';
}

.zmdi-collection-item-6:before {
  content: '\f146';
}

.zmdi-collection-item-7:before {
  content: '\f147';
}

.zmdi-collection-item-8:before {
  content: '\f148';
}

.zmdi-collection-item-9:before {
  content: '\f14a';
}

.zmdi-collection-item:before {
  content: '\f14b';
}

.zmdi-collection-text:before {
  content: '\f150';
}

.zmdi-delete:before {
  content: '\f154';
}

.zmdi-dns:before {
  content: '\f156';
}

.zmdi-email:before {
  content: '\f15a';
}

.zmdi-font:before {
  content: '\f16a';
}

.zmdi-globe-alt:before {
  content: '\f171';
}

.zmdi-globe:before {
  content: '\f173';
}

.zmdi-home:before {
  content: '\f175';
}

.zmdi-http:before {
  content: '\f17c';
}

.zmdi-image-alt:before {
  content: '\f17d';
}

.zmdi-image:before {
  content: '\f17f';
}

.zmdi-label-alt:before {
  content: '\f185';
}

.zmdi-label:before {
  content: '\f187';
}

.zmdi-link:before {
  content: '\f18e';
}

.zmdi-menu:before {
  content: '\f197';
}

.zmdi-navigation:before {
  content: '\f1a1';
}

.zmdi-pin-account:before {
  content: '\f1a6';
}

.zmdi-pin:before {
  content: '\f1ab';
}

.zmdi-settings:before {
  content: '\f1c6';
}

.zmdi-info:before {
  content: '\f1f8';
}

.zmdi-notifications-active:before {
  content: '\f1f9';
}

.zmdi-notifications-add:before {
  content: '\f1fa';
}

.zmdi-notifications-none:before {
  content: '\f1fb';
}

.zmdi-notifications:before {
  content: '\f1fe';
}

.zmdi-account-add:before {
  content: '\f1ff';
}

.zmdi-account-circle:before {
  content: '\f205';
}

.zmdi-account:before {
  content: '\f207';
}

.zmdi-file-text:before {
  content: '\f222';
}

.zmdi-file:before {
  content: '\f223';
}

.zmdi-circle:before {
  content: '\f26d';
}

.zmdi-arrow-left-bottom:before {
  content: '\f2e9';
}

.zmdi-arrow-left:before {
  content: '\f2ea';
}

.zmdi-arrow-right-top:before {
  content: '\f2ed';
}

.zmdi-arrow-right:before {
  content: '\f2ee';
}

.zmdi-caret-down-circle:before {
  content: '\f2f1';
}

.zmdi-caret-down:before {
  content: '\f2f2';
}

.zmdi-caret-left-circle:before {
  content: '\f2f3';
}

.zmdi-caret-left:before {
  content: '\f2f4';
}

.zmdi-caret-right-circle:before {
  content: '\f2f5';
}

.zmdi-caret-right:before {
  content: '\f2f6';
}

.zmdi-caret-up-circle:before {
  content: '\f2f7';
}

.zmdi-caret-up:before {
  content: '\f2f8';
}

.zmdi-view-dashboard:before {
  content: '\f31c';
}

.zmdi-view-list-alt:before {
  content: '\f31f';
}

.zmdi-view-list:before {
  content: '\f320';
}

.zmdi-apple:before {
  content: '\f33c';
}

.zmdi-group-work:before {
  content: '\f3dc';
}

.zmdi-group:before {
  content: '\f3e9';
}

.zmdi-500px:before {
  content: '\f3ee';
}

.zmdi-book-image:before {
  content: '\f11b';
}

.zmdi-book:before {
  content: '\f11c';
}

.zmdi-chart:before {
  content: '\f131';
}

.zmdi-collection-image:before {
  content: '\f140';
}

.zmdi-collection-item-1:before {
  content: '\f141';
}

.zmdi-collection-item-2:before {
  content: '\f142';
}

.zmdi-collection-item-3:before {
  content: '\f143';
}

.zmdi-collection-item-4:before {
  content: '\f144';
}

.zmdi-collection-item-5:before {
  content: '\f145';
}

.zmdi-collection-item-6:before {
  content: '\f146';
}

.zmdi-collection-item-7:before {
  content: '\f147';
}

.zmdi-collection-item-8:before {
  content: '\f148';
}

.zmdi-collection-item-9:before {
  content: '\f14a';
}

.zmdi-collection-item:before {
  content: '\f14b';
}

.zmdi-collection-text:before {
  content: '\f150';
}

.zmdi-delete:before {
  content: '\f154';
}

.zmdi-dns:before {
  content: '\f156';
}

.zmdi-email:before {
  content: '\f15a';
}

.zmdi-font:before {
  content: '\f16a';
}

.zmdi-globe-alt:before {
  content: '\f171';
}

.zmdi-globe:before {
  content: '\f173';
}

.zmdi-home:before {
  content: '\f175';
}

.zmdi-http:before {
  content: '\f17c';
}

.zmdi-image-alt:before {
  content: '\f17d';
}

.zmdi-image:before {
  content: '\f17f';
}

.zmdi-label-alt:before {
  content: '\f185';
}

.zmdi-label:before {
  content: '\f187';
}

.zmdi-link:before {
  content: '\f18e';
}

.zmdi-menu:before {
  content: '\f197';
}

.zmdi-navigation:before {
  content: '\f1a1';
}

.zmdi-pin-account:before {
  content: '\f1a6';
}

.zmdi-pin:before {
  content: '\f1ab';
}

.zmdi-settings:before {
  content: '\f1c6';
}

.zmdi-info:before {
  content: '\f1f8';
}

.zmdi-notifications-active:before {
  content: '\f1f9';
}

.zmdi-notifications-add:before {
  content: '\f1fa';
}

.zmdi-notifications-none:before {
  content: '\f1fb';
}

.zmdi-notifications:before {
  content: '\f1fe';
}

.zmdi-account-add:before {
  content: '\f1ff';
}

.zmdi-account-circle:before {
  content: '\f205';
}

.zmdi-account:before {
  content: '\f207';
}

.zmdi-file-text:before {
  content: '\f222';
}

.zmdi-file:before {
  content: '\f223';
}

.zmdi-circle:before {
  content: '\f26d';
}

.zmdi-arrow-left-bottom:before {
  content: '\f2e9';
}

.zmdi-arrow-left:before {
  content: '\f2ea';
}

.zmdi-arrow-right-top:before {
  content: '\f2ed';
}

.zmdi-arrow-right:before {
  content: '\f2ee';
}

.zmdi-caret-down-circle:before {
  content: '\f2f1';
}

.zmdi-caret-down:before {
  content: '\f2f2';
}

.zmdi-caret-left-circle:before {
  content: '\f2f3';
}

.zmdi-caret-left:before {
  content: '\f2f4';
}

.zmdi-caret-right-circle:before {
  content: '\f2f5';
}

.zmdi-caret-right:before {
  content: '\f2f6';
}

.zmdi-caret-up-circle:before {
  content: '\f2f7';
}

.zmdi-caret-up:before {
  content: '\f2f8';
}

.zmdi-view-dashboard:before {
  content: '\f31c';
}

.zmdi-view-list-alt:before {
  content: '\f31f';
}

.zmdi-view-list:before {
  content: '\f320';
}

.zmdi-apple:before {
  content: '\f33c';
}

.zmdi-group-work:before {
  content: '\f3dc';
}

.zmdi-group:before {
  content: '\f3e9';
}

.zmdi-500px:before {
  content: '\f3ee';
}

.zmdi-file-add:before {
  content: '\f221';
}

.zmdi-collection-add:before {
  content: '\f14e';
}

.zmdi-arrow-in:before {
  content: '\f2e9';
}

.zmdi-pages:before {
  content: '\f34a';
}

@font-face {
  font-family: 'themify';
  src: url("../fonts/themify.eot?-fvbane");
  src: url("../fonts/themify.eot?#iefix-fvbane") format("embedded-opentype"), url("../fonts/themify.woff?-fvbane") format("woff"), url("../fonts/themify.ttf?-fvbane") format("truetype"), url("../fonts/themify.svg?-fvbane#themify") format("svg");
  font-weight: normal;
  font-style: normal;
}

[class^="ti-"],[class*=" ti-"] {
  font-family: 'themify';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: "simple-line-icons";
  src: url("../fonts/Simple-Line-Icons.eot?-i3a2kk");
  src: url("../fonts/Simple-Line-Icons.eot?#iefix-i3a2kk") format("embedded-opentype"), url("../fonts/Simple-Line-Icons.ttf?-i3a2kk") format("truetype"), url("../fonts/Simple-Line-Icons.woff2?-i3a2kk") format("woff2"), url("../fonts/Simple-Line-Icons.woff?-i3a2kk") format("woff"), url("../fonts/Simple-Line-Icons.svg?-i3a2kk#simple-line-icons") format("svg");
  font-weight: normal;
  font-style: normal;
}

.icon-user,.icon-menu,.icon-list,.icon-arrow-down,.icon-arrow-left,.icon-arrow-right,.icon-arrow-up,.icon-arrow-up-circle,.icon-arrow-left-circle,.icon-arrow-right-circle,.icon-arrow-down-circle,.icon-badge,.icon-pin,.icon-globe-alt,.icon-globe,.icon-support,.icon-home,.icon-like,.icon-chart,.icon-bubble,.icon-info,.icon-link,.icon-settings {
  font-family: "simple-line-icons";
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-user:before {
  content: "\e005";
}

.icon-menu:before {
  content: "\e601";
}

.icon-list:before {
  content: "\e067";
}

.icon-arrow-down:before {
  content: "\e604";
}

.icon-arrow-left:before {
  content: "\e605";
}

.icon-arrow-right:before {
  content: "\e606";
}

.icon-arrow-up:before {
  content: "\e607";
}

.icon-arrow-up-circle:before {
  content: "\e078";
}

.icon-arrow-left-circle:before {
  content: "\e07a";
}

.icon-arrow-right-circle:before {
  content: "\e079";
}

.icon-arrow-down-circle:before {
  content: "\e07b";
}

.icon-badge:before {
  content: "\e028";
}

.icon-pin:before {
  content: "\e031";
}

.icon-globe-alt:before {
  content: "\e036";
}

.icon-globe:before {
  content: "\e037";
}

.icon-support:before {
  content: "\e056";
}

.icon-home:before {
  content: "\e069";
}

.icon-like:before {
  content: "\e068";
}

.icon-chart:before {
  content: "\e077";
}

.icon-bubble:before {
  content: "\e07d";
}

.icon-info:before {
  content: "\e08b";
}

.icon-link:before {
  content: "\e08d";
}

.icon-settings:before {
  content: "\e09a";
}

/*!
  Ionicons, v1.5.0
  Created by Ben Sperry for the Ionic Framework, http://ionicons.com/
  https://twitter.com/benjsperry  https://twitter.com/ionicframework
  MIT License: https://github.com/driftyco/ionicons
*/

@font-face {
  font-family: "Ionicons";
  src: url("../fonts/ionicons.eot?v=1.5.0");
  src: url("../fonts/ionicons.eot?v=1.5.0#iefix") format("embedded-opentype"), url("../fonts/ionicons.ttf?v=1.5.0") format("truetype"), url("../fonts/ionicons.woff?v=1.5.0") format("woff"), url("../fonts/ionicons.svg?v=1.5.0#Ionicons") format("svg");
  font-weight: normal;
  font-style: normal;
}

@-moz-keyframes spin {
  0% {
    -moz-transform: rotate(0deg);
  }

  100% {
    -moz-transform: rotate(359deg);
  }
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(359deg);
  }
}

@-o-keyframes spin {
  0% {
    -o-transform: rotate(0deg);
  }

  100% {
    -o-transform: rotate(359deg);
  }
}

@-ms-keyframes spin {
  0% {
    -ms-transform: rotate(0deg);
  }

  100% {
    -ms-transform: rotate(359deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(359deg);
  }
}

/*!
 *  Weather Icons 2.0
 *  Updated August 1, 2015
 *  Weather themed icons for Bootstrap
 *  Author - Erik Flowers - erik@helloerik.com
 *  Email: erik@helloerik.com
 *  Twitter: http://twitter.com/Erik_UX
 *  ------------------------------------------------------------------------------
 *  Maintained at http://erikflowers.github.io/weather-icons
 *
 *  License
 *  ------------------------------------------------------------------------------
 *  - Font licensed under SIL OFL 1.1 -
 *    http://scripts.sil.org/OFL
 *  - CSS, SCSS and LESS are licensed under MIT License -
 *    http://opensource.org/licenses/mit-license.html
 *  - Documentation licensed under CC BY 3.0 -
 *    http://creativecommons.org/licenses/by/3.0/
 *  - Inspired by and works great as a companion with Font Awesome
 *    "Font Awesome by Dave Gandy - http://fontawesome.io"
 */

@font-face {
  font-family: "weathericons";
  src: url("../fonts/weathericons-regular-webfont.eot");
  src: url("../fonts/weathericons-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/weathericons-regular-webfont.woff2") format("woff2"), url("../fonts/weathericons-regular-webfont.woff") format("woff"), url("../fonts/weathericons-regular-webfont.ttf") format("truetype"), url("../fonts/weathericons-regular-webfont.svg#weather_iconsregular") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* @FONT-FACE loads font into browser */

@font-face {
  font-family: 'typicons';
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/typicons.eot");
  src: url("../fonts/typicons.eot?#iefix") format("embedded-opentype"), url("../fonts/typicons.woff") format("woff"), url("../fonts/typicons.ttf") format("truetype"), url("../fonts/typicons.svg#typicons") format("svg");
}

/* :before psuedo-selector inserts and styles icon */

/* Code for individual icons */

@font-face {
  font-family: 'Pe-icon-7-stroke';
  src: url("../fonts/Pe-icon-7-stroke.eot?d7yf1v");
  src: url("../fonts/Pe-icon-7-stroke.eot?#iefixd7yf1v") format("embedded-opentype"), url("../fonts/Pe-icon-7-stroke.woff?d7yf1v") format("woff"), url("../fonts/Pe-icon-7-stroke.ttf?d7yf1v") format("truetype"), url("../fonts/Pe-icon-7-stroke.svg?d7yf1v#Pe-icon-7-stroke") format("svg");
  font-weight: normal;
  font-style: normal;
}

[class^="pe-7s-"],[class*=" pe-7s-"] {
  display: inline-block;
  font-family: 'Pe-icon-7-stroke';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* =============
   Timeline
============= */

/* ===========
   Timeline-2
 =============*/

.item-info {
  margin-bottom: 15px;
  margin-left: 15px;
}

.item-info p {
  font-size: 13px;
}

/* =============
   Pricing
============= */

/* =============
   Gallery
============= */

/* =============
   Print css
============= */

@media print {
  .content-page {
    margin-left: 0 !important;
  }

  .topbar-left,  .page-title,  .navbar-custom {
    display: none !important;
    margin: 0px;
    padding: 0px;
  }

  .left,  .right-bar {
    display: none;
  }

  .content {
    margin-top: 0px !important;
    padding-top: 0px;
  }
}

/* =============
   Maintenance
============= */

.line1 {
  opacity: 0;
  animation: fadeInLeft both 1s 0.4s, coding1 ease 6s 4s infinite;
}

.line2 {
  opacity: 0;
  animation: fadeInLeft both 1s 0.6s, coding2 ease 6s 4s infinite;
}

.line3 {
  opacity: 0;
  animation: fadeInLeft both 1s 0.8s, coding3 ease 6s 4s infinite;
}

.line4 {
  opacity: 0;
  animation: fadeInLeft both 1s 1.0s, coding4 ease 6s 4s infinite;
}

.line5 {
  opacity: 0;
  animation: fadeInLeft both 1s 1.2s, coding5 ease 6s 4s infinite;
}

.line6 {
  opacity: 0;
  animation: fadeInLeft both 1s 1.4s, coding6 ease 6s 4s infinite;
}

.line7 {
  opacity: 0;
  animation: fadeInLeft both 1s 1.6s, coding6 ease 6s 4s infinite;
}

@keyframes coding1 {
  0% {
    transform: translate(0, 0);
    opacity: 1;
  }

  14% {
    transform: translate(0, -10px);
    opacity: 0;
  }

  15% {
    transform: translate(0, 45px);
  }

  30% {
    transform: translate(0, 40px);
    opacity: 1;
  }

  45% {
    transform: translate(0, 30px);
  }

  60% {
    transform: translate(0, 20px);
  }

  75% {
    transform: translate(0, 10px);
  }

  90% {
    transform: translate(0, 5px);
  }

  100% {
    transform: translate(0, 0);
    opacity: 1;
  }
}

@keyframes coding2 {
  0% {
    transform: translate(0, 0);
    opacity: 1;
  }

  15% {
    transform: translate(0, -5px);
    opacity: 1;
  }

  29% {
    transform: translate(0, -10px);
    opacity: 0;
  }

  30% {
    transform: translate(0, 40px);
  }

  45% {
    transform: translate(0, 30px);
    opacity: 1;
  }

  60% {
    transform: translate(0, 20px);
  }

  75% {
    transform: translate(0, 10px);
  }

  90% {
    transform: translate(0, 5px);
  }

  100% {
    transform: translate(0, 0);
    opacity: 1;
  }
}

@keyframes coding3 {
  0% {
    transform: translate(0, 0);
    opacity: 1;
  }

  15% {
    transform: translate(0, -5px);
  }

  30% {
    transform: translate(0, -10px);
    opacity: 1;
  }

  44% {
    transform: translate(0, -20px);
    opacity: 0;
  }

  45% {
    transform: translate(0, 30px);
  }

  60% {
    transform: translate(0, 20px);
    opacity: 1;
  }

  75% {
    transform: translate(0, 10px);
  }

  90% {
    transform: translate(0, 5px);
  }

  100% {
    transform: translate(0, 0);
    opacity: 1;
  }
}

@keyframes coding4 {
  0% {
    transform: translate(0, 0);
    opacity: 1;
  }

  15% {
    transform: translate(0, -5px);
  }

  30% {
    transform: translate(0, -10px);
  }

  45% {
    transform: translate(0, -20px);
    opacity: 1;
  }

  59% {
    transform: translate(0, -30px);
    opacity: 0;
  }

  60% {
    transform: translate(0, 20px);
  }

  75% {
    transform: translate(0, 10px);
    opacity: 1;
  }

  90% {
    transform: translate(0, 5px);
  }

  100% {
    transform: translate(0, 0);
    opacity: 1;
  }
}

@keyframes coding5 {
  0% {
    transform: translate(0, 0);
    opacity: 1;
  }

  15% {
    transform: translate(0, -5px);
  }

  30% {
    transform: translate(0, -10px);
  }

  45% {
    transform: translate(0, -20px);
  }

  60% {
    transform: translate(0, -30px);
    opacity: 1;
  }

  74% {
    transform: translate(0, -40px);
    opacity: 0;
  }

  75% {
    transform: translate(0, 10px);
  }

  90% {
    transform: translate(0, 5px);
    opacity: 1;
  }

  100% {
    transform: translate(0, 0);
    opacity: 1;
  }
}

@keyframes coding6 {
  0% {
    transform: translate(0, 0);
    opacity: 1;
  }

  15% {
    transform: translate(0, -5px);
  }

  30% {
    transform: translate(0, -10px);
  }

  45% {
    transform: translate(0, -20px);
  }

  60% {
    transform: translate(0, -30px);
  }

  75% {
    transform: translate(0, -40px);
    opacity: 1;
  }

  89% {
    transform: translate(0, -50px);
    opacity: 0;
  }

  90% {
    transform: translate(0, 10px);
  }

  100% {
    transform: translate(0, 0);
    opacity: 1;
  }
}

/* =============
   Count Down
============= */

/* Carousel */

.label {
  display: inline-block;
  padding: 0.4em 0.8em;
  font-size: 90%;
  /*font-weight: bold;*/
  line-height: 1;
  color: #ffffff;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 0.25rem;
}

.label:empty {
  display: none;
}

.label-success {
  background-color: #22B26F;
}

/*background-color: #1bb99a; }*/

.label-info {
  background-color: #3db9dc;
}

.label-warning {
  background-color: #f1b53d;
}

.label-danger {
  background-color: #ff5d48;
}

/* Pagination/ Pager */

/* Margin / Padding classes */

.p-0 {
  padding: 0 !important;
}

.p-20 {
  padding: 20px !important;
}

.m-0 {
  margin: 0 !important;
}

.m-t-10 {
  margin-top: 10px !important;
}

.m-t-15 {
  margin-top: 15px !important;
}

.m-t-20 {
  margin-top: 20px !important;
}

.m-t-30 {
  margin-top: 30px !important;
}

.m-t-50 {
  margin-top: 50px !important;
}

.m-t-70 {
  margin-top: 70px !important;
}

.m-b-10 {
  margin-bottom: 10px !important;
}

.m-b-15 {
  margin-bottom: 15px !important;
}

.m-b-20 {
  margin-bottom: 20px !important;
}

.m-b-30 {
  margin-bottom: 30px !important;
}

@media (max-width: 767px) {
  .m-t-sm-40 {
    margin-top: 40px !important;
  }
}

/* Width */

.font-13 {
  font-size: 13px;
}

.font-14 {
  font-size: 14px;
}

/* Demo only */

/* Switchery demo */

/* =============
   Calendar
============= */

/* =============
   Checkbox and Radios
============= */

/* Radios */

/* =============
   Notification
============= */

label {
  font-weight: 500;
}

/* Bootstrap tagsinput */

/* Select 2 */

/* AUTOCOMPLETE */

/* Form validation */

/* Wizard */

/* Tablesaw */

/* Flot chart */

/* Morris chart */

/* Chartist chart */

/* C3 chart */

/* Sparkline chart */

/* =============
   Tree view page
============= */

/* =============
   Tour page
============= */

/* Inbox-widget */

/* =============
   Accounts pages
============= */

.account-pages {
  background: #4b80c0;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-size: cover;
}

/*# sourceMappingURL=style.css.map */