
.dashboard-charts-card {
    width: 65vw;
    margin-bottom: 2%;
    /* animation-name: slide-in-chart-card;
    margin-left: 80vw;
    animation-duration: 0.2s;
    animation-delay: 0.5s;
    animation-fill-mode: forwards; */
}

.doughnut-card {
    height: 400px;
    overflow:hidden;
}

.chart-title {
    margin-left: 8%;
    padding-top: 2%;
    margin-top: 0px;
}

.dashboard-charts-card > div > div {
    padding-left: 40px !important;
    padding-right: 40px !important;
}

.highest-gross-card-left {
    width: 50%;
    display: inline-block;
    text-align: left;
    vertical-align: top;
}

.highest-gross-card-right {
    width: 43%;
    margin-left: 5%;
    margin-right: 2%;
    height: 300px;
    display: inline-block;
    padding-top: 70px;
    font-size: 22px;
}

.quick-maf {
    font-size: 28px;
    font-family: 'Lucida Console'
}

/*
FOR SMALL SIZE SCREENS
*/
@media only screen and (max-width: 768px){
    .dashboard-charts-card {
        width: 100vw;
    }
}