
/*
FOR DESKTOP
*/
@media only screen and (min-width: 769px) {
   .marketplace-listings-container {
       margin-left: 300px;
   }    
}

/*
FOR SMALL SIZE SCREENS
*/
@media only screen and (max-width: 768px){
    .marketplace-listings-container {
        margin-left: 0px;
    }
}

.marketplace-title {
    text-align: center;
    padding-top: 2%;
    margin-bottom: 2%;
}