    <div class="container-fluid">

      <h3 style="margin-top: 18px">Available Adspaces</h3>

      <ng-container *ngIf="!isListEmpty()">
        <div class="row" *ngFor="let listing of selectedList">
          <div class="card-format">
            <div class="card-block">
              <h4 class="card-title">
                <span class="label label-default">{{ listing["genre"] }}</span>
                <span class="label label-success">{{ listing["adtype"] }}</span> {{ listing["name"] }} </h4>
              <p class="card-text">{{ listing["msg"] }}</p>
              <h5>CPC : {{ listing["cpi"] }} {{ listing["currency"] }}</h5>
              <h5>CPM : {{ listing["cpm"] }} {{ listing["currency"] }}</h5>
              <h6>Posted Date : {{ listing["ask_date_from"] }}</h6>
              <a style="color:white" class="btn btn-primary disabled">Contact {{ listing["username"] }} &gt; </a>
            </div>
          </div>
        </div>
      </ng-container>

      <ng-container *ngIf="isListEmpty()">
        <div class="card-format">
          <div class="card-block">
            <h4>No Adspaces match the filters provided</h4>
          </div>
        </div>
      </ng-container>
    </div>