    <div class="container-fluid">

      <h3 style="margin-top: 18px">Available {{ getListingType() }}</h3>

      <ng-container *ngIf="!isListEmpty()">
        <div *ngFor="let listing of selectedList">
          <div class="card-format">
            <div class="card-block">
              <h4 class="card-title">
                <span class="label label-success">{{ listing["genre"] }}</span>
                <!-- <span class="label label-success">{{ listing["adtype"] }}</span>  -->
                {{ listing["name"] }} 
              </h4>
              <h6 class="card-subtitle">Posted Date : {{ listing["ask_date_from"] }}</h6>
              <div class="card-content">
                  <img src="{{getImagePlaceholderPath(listing['genre'])}}" class="card-img">
                  <p class="card-text">{{ listing["msg"] }}</p>
              </div>
              
              <h5>CPC : {{ listing["cpi"] }} {{ listing["currency"] }}</h5>
              <h5>CPM : {{ listing["cpm"] }} {{ listing["currency"] }}</h5>
              
              <a style="color:white" class="btn btn-primary disabled">Contact {{ listing["username"] }} &gt; </a>
            </div>
          </div>
        </div>
      </ng-container>

      <ng-container *ngIf="isListEmpty()">
        <div class="card-format">
          <div class="card-block">
            <h4>No {{ getListingType() }} match the filters provided</h4>
          </div>
        </div>
      </ng-container>
    </div>