.stats-container-card{ 
    background: #fafafa !important;
}

/*
FOR PHONES AND TABLETS
*/
@media only screen and (max-width:768px){
    
    .stats-container {
        margin-top: 2%;
    }
    
}


/*
FOR DESKTOP
*/
@media only screen and (min-width: 769px) {

    .stats-container {
        width: 20%;
        min-width: 280px;
        margin-left: 10%;
    }

}

.stats-title{
    padding-top: 15px;
    padding-left: 10%;
    margin-bottom: 2%;
}
