
.stats-container-card > div > div {
    padding-bottom: 5px !important;
    padding-top: 0px !important;
}

/*
FOR PHONES AND TABLETS
*/
@media only screen and (max-width:768px){
    
    .stats-container {
        margin-top: 2%;
    }
    
}


/*
FOR DESKTOP
*/
@media only screen and (min-width: 769px) {

    .stats-container {
        width: 20%;
        min-width: 280px;
        margin-top: 5%;
    }

}

.stats-title{
    margin-left: 10%;
    padding-top: 4%;
    margin-top: 0px;
    font-size: 28px;
}
