
.dashboard-line-charts-card{
    width: 65vw;
    margin-bottom: 2%;
}

.chart-title{
    margin-left: 5%;
}


/*
FOR SMALL SIZE SCREENS
*/
@media only screen and (max-width: 768px){
    .dashboard-line-charts-card {
        width: 100vw;
    }
}