
.dashboard-line-charts-card{
    width: 65vw;
    margin-bottom: 2%;
}

.chart-title{
    margin-left: 5%;
}

.dashboard-line-charts-card > div > div {
    padding-left: 40px !important;
    padding-right: 40px !important;
}


/*
FOR SMALL SIZE SCREENS
*/
@media only screen and (max-width: 768px){
    .dashboard-line-charts-card {
        width: 100vw;
    }
}