@import url("https://fonts.googleapis.com/css?family=Roboto:400,500,700,300");

@keyframes translate-to-red{
    from {
        width: 1%;
    }
    to {
        width: 100%;
        border-top: 3px solid red;
    }
}

@keyframes translate-to-green{
    from {
        width: 1%;
    }
    to {
        width: 100%;
        border-top: 3px solid #00CD00;
    }
}

@keyframes label-to-green {
    from {
        color: black;
    }
    to {
        color: #00CD00;
    }
}

@keyframes label-to-red {
    from {
        color: black;
    }
    to {
        color: red;
    }
}



.green-hr {
    display: block;
    animation-name: translate-to-green;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    height: 3px;
    border: 0;
    border-top: 3px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

.red-hr {
    animation-name: translate-to-red;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    display: block;
    height: 3px;
    border: 0;
    border-top: 3px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

.neutral-hr {
    display: block;
    height: 3px;
    border: 0;
    border-top: 3px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

.stats-card-trend {
     float : right;
}

.stats-card-title {
    font-size: 22px;
    font-weight: 400;
    letter-spacing: 1.2px;
}

.stats-card-value {
    font-size: 28px;
    font-weight: bold;
}

.stats-card-trend {
    font-size: 18px;
    font-family: 'Monospace', 'Lucida Console';
}

.green-label {
    animation-name: label-to-green;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

.red-label {
    animation-name: label-to-red;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

.stats-card > div {
    padding-bottom: 0px !important;
}

.stats-card {
    margin-bottom: 15px;
}