.marketplace-listings-container {
    margin-left: 12px;
    /* Drawer gets closed and docked on small screen */
}

.marketplace-title-container {
    background-color: #fefefe;
    height: 60px;
    padding-left: 25px; /*1.5vw;*/
    margin: 19px 0 18px 0;
    /*border-left: 1px solid rgba(0, 0, 0, 0.12);*/
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}

.marketplace-title {
    line-height: 60px;
    vertical-align: middle;
    color: #505050; /*3E3E3E#;*/
    font-size: 18px;
    font-weight: 400;
}

.marketplace-listing-loading {
    margin-left: 5%;
    margin-top: 40vh;
}


/*
FOR MEDIUM TO BIG SCREEN
*/

@media only screen and (min-width: 768px) {
    .marketplace-listings-container {
        margin-left: 300px;
        /* Drawer is always open on medium to big screen*/
    }
    .marketplace-listing-loading {
        margin-left: 18%;
        margin-top: 40vh;
    }
}
