.dropdown {
    margin-left: 25px;
}

.filter-heading-container {
    background-color: #fefefe;
    height: 60px;
    padding-left: 25px;
    margin-bottom: 12px;
    /*border-right: 1px solid rgba(0, 0, 0, 0.12);*/
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}

.filter-heading {
    line-height: 60px;
    vertical-align: middle;
    color: #505050; /*3E3E3E#;*/
    font-size: 18px;
    font-weight: 400;
}

.filter-title {
    margin-top: 12px;
    font-weight: 300;
    text-align: left;
    margin-left: 25px;
    color: #C02F54;
}

.btn-open-filter-drawer {
    left: 0;
    top: 40;
    position: fixed;
    -webkit-transform-origin: bottom left;
    -moz-transform-origin: bottom left;
    -ms-transform-origin: bottom left;
    -o-transform-origin: bottom left;
    transform-origin: bottom left;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
}

.marketplace-filter-container {
    font-stretch: normal;
    font-weight: 300;
}

.divider {
    margin-top: 5%;
}

.filter-drawer {
    z-index: 5;
}
